* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #00008bcb;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loader {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}

.loading {
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 0 10px;
}
